*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow-y: auto !important;
  overflow-x: hidden;
}


body {
  background: #0e0e11;
}
